---
import Layout from '../components/Layout.astro';
---

<Layout title="Welcome">
    <div class="container">
        <div class="card card-tall">
            <h2 class="title">Welcome to luxsearch®</h2>
            <p class="body-text">
                lux is searching you.
            </p>
            <div class="btn-group">
                <a href="/opportunities" class="btn btn-flex">View Opportunities</a>
                <a href="/hire-talent" class="btn btn-flex">Hire Talent</a>
            </div>
        </div>
    </div>
</Layout> 