---
import Layout from '../components/Layout.astro';
---

<Layout title="Legal Information" currentPage="legal">
    <div class="container">
        <div class="card card-tall">
            <h1 class="title">Legal Information</h1>
            <div class="body-text">
                <p>You can find our legal documents and policies on the following pages:</p>
                
                <div class="section-break"></div>
                
                <div class="btn-group">
                    <a href="/privacy-policy" class="btn btn-full">Privacy Policy</a>
                    <a href="/legal-notice" class="btn btn-full">Legal Notice / Impressum</a>
                    <a href="/terms-of-use" class="btn btn-full">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</Layout> 