---
import Layout from '../components/Layout.astro';
---

<Layout title="Legal Notice" currentPage="legal">
    <div class="container">
        <div class="card card-tall">
            <h1 class="title">Legal Notice / Impressum</h1>
            
            <div class="body-text">
                <p><strong>Company Information:</strong></p>
                
                <p><strong>LUX SEARCH LTD</strong><br>
                A Cyprus Limited Company<br>
                Registration Number: ΗΕ464568<br>
                Registered Office: 30 Pireos Street, 1st floor, Office 1, Strovolos, Nicosia 2023, Cyprus</p>

                <p><strong>VAT Identification:</strong> CY60092221M<br>
                <strong>EU VAT Number:</strong> CY60092221M</p>

                <p><strong>Director:</strong> Vincent Lüders</p>

                <div class="section-break"></div>

                <p><strong>Contact Information:</strong><br>
                Email: vincent@luxsearch.eu<br>
                Website: luxsearch.eu</p>

                <p><strong>Responsible for Website Content:</strong><br>
                Vincent Lüders<br>
                Address as above</p>

                <div class="section-break"></div>

                <p><strong>Copyright Notice:</strong><br>
                © 2025 LUX SEARCH LTD. All rights reserved. The content and works on these pages are subject to international copyright laws. Reproduction, editing, distribution, and any kind of exploitation beyond the limits of copyright require our written consent.</p>

                <div class="section-break"></div>

                <p><strong>Disclaimer:</strong><br>
                Despite careful content control, we assume no liability for the content of external links. The operators of linked pages are exclusively responsible for their content.</p>
            </div>
        </div>
    </div>
</Layout> 