---
import Layout from '../components/Layout.astro';
---

<Layout title="Test Form">
    <div class="container">
        <div class="card card-tall">
            <h1>Test Form</h1>
            
            <!-- Simple test form -->
            <form name="test-form" method="POST" data-netlify="true" action="/thank-you">
                <input type="hidden" name="form-name" value="test-form" />
                
                <div class="form-group">
                    <label for="test-file" class="form-label">Upload Test File</label>
                    <input type="file" name="test-file" id="test-file" class="form-control" accept=".pdf,.doc,.docx" required />
                </div>
                
                <button type="submit" class="btn btn-primary">Submit Test</button>
            </form>
        </div>
    </div>
</Layout> 