<!-- Animated Morphing Gradients Background -->
<div class="gradient-bg">
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
</div> 