<!-- Animated Morphing Gradients Background -->
<div class="gradient-bg" style="view-transition-name: gradient-bg;">
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
    <div class="gradient-blob"></div>
</div> 